<!doctype html>
<html>
<head>
<title>DHS Data Inventory API Demonstration Website</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>API Test</h1>
This API tester demonstrates both the Excel upload API and the RDF/JSON validation API.
<h2>Option 1: Upload and Validate an Excel Spreadsheet</h2>
<p>You can upload an excel spreadsheet. Select a file and click 'upload' below:</p>
<form method='post' enctype='multipart/form-data'>
  <input type='file' name='file'>
  <input type='submit' value='Upload'>
</form>

<h2>Option 2: Paste in your RDF/JSON</h2>
<p>Validate RDF/JSON. Paste a single data   inventory record or a list of data inventory records into the text area below, and click the 'validate' button:</p>
<form method=post enctype=multipart/form-data>
  <textarea rows='20' cols='80' name='text'></textarea>
  <br/>
  <input type='submit' value='Validate'>
</form>

<h1>Download Excel Template</h1>
<p>You can also download a clean copy of the Excel template: </p>
<ul>
  <li><a href='DIP_Template.xlsx'>DIP_Template.xlsx</a></li>
</ul>

</body>
</html>
